.container-fluid{
    background-color: #1E1E1E;
    overflow-x: hidden;
    
}
#idtitlecocteles, #title{
    background-color:  #d3a933;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#card{
    cursor: pointer;
}
#card:hover{
    box-shadow: inset 5px 5px #d3a933, inset -5px -5px #d3a933;
}