<div class="bg-custom-dark-color text-light montserrat-text">
<section class="row justify-content-center">
    <div class="col-3 d-flex flex-column align-items-center gap-5">

        <!-- empiezo con el componente -->
        <div class="cards-info">
        <div class="container d-flex flex-column gap-3">

            <!-- cada componente -->
            <div class="d-flex align-items-center gap-4">
                <i class="fa-regular fa-clock"></i>
                <div class="data-container">
                    <h5>Horario</h5>
                    <p>Martes a Domingo:</p>
                    <p>de 10:00 a 16:00h y de 20 a 23:30h</p>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <i class="fa-regular fa-envelope"></i>
                <div class="data-container">
                    <h5>Email</h5>
                    <p>infoArrobaRestaurante</p>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <i class="fa-solid fa-phone"></i>
                <div class="data-container">
                    <h5>Llámanos</h5>
                    <p>96 999 99 99</p>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <i class="fa-solid fa-location-dot"></i>
                <div class="data-container">
                    <h5>Ubicación</h5>
                    <p>Av. Cortes Valencianas 69, Valencia</p>
                </div>
            </div>

            <!-- mapa google -->

            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3078.886522426116!2d-0.404490023632695!3d39.494476911253194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60458fbce6f143%3A0x9ca5171d6c95ca65!2sAv.%20de%20les%20Corts%20Valencianes%2C%2069%2C%20Benicalap%2C%2046015%20Val%C3%A8ncia!5e0!3m2!1ses!2ses!4v1714574611528!5m2!1ses!2ses" 
            width="400" 
            height="300" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </div>
    </div>
    </div>

        <div class="col-4 d-flex justify-content-center">
            
            <!-- empiezo con el componente -->
        <div class="container d-flex flex-column gap-3">
            <div class="container-form">
            <div class="d-flex align-items-center gap-4">
                <i class="fa-solid fa-pen-to-square"></i>
                <div class="data-container">
                    <h5>Formulario de contacto</h5>
                    <p>En nuestro restaurante, estamos abiertos a recibir dudas, sugerencias e incluso colaboraciones. Ponte en contacto de forma directa a través de nuestro formulario:</p>
        </div>
        </div>

        <div class="form-floating mb-3">
            <input type="name" class="form-control" id="floatingInput" placeholder="name">
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="email@email.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="phone" class="form-control" id="floatingInput" placeholder="phone">
            <label for="floatingInput">Teléfono</label>
          </div>
          <div class="form-floating mb-3">
            <input type="subject" class="form-control" id="floatingInput" placeholder="subject">
            <label for="floatingInput">Asunto</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Déjanos tu comentario" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comentarios</label>
          </div>

          <button type="submit" class="btn btn-dark">Enviar</button>

        </div>
        </div>
    </div>
    
</section>
</div>