
<div class="row bg-custom-dark-color text-light">
    <div class="col-5" id="imgcoc">
      <br><br><br>
        <img
        src="./../../../../assets/images/Personas1.jpg"
        class="img-fluid bg-black bg-gradient bg-opacity-25"
        alt="sample" id="cocineros">
       <br><br><br>
    </div>
    <div class="col-5 " id="textcoc">
      <br><br><br>
        <h3>Nuestra Historia</h3>
        <p>
            En el corazón de la ciudad, Apu es un restaurante indio emblemático fundado en los años 80 por la familia Singh. 
            Ofrece auténticos sabores y platos tradicionales como el pollo tikka masala y el biryani,
             atrayendo a amantes de la cocina india con su ambiente acogedor y hospitalidad excepcional.<br><br>
            ¡Para conocer más sobre nosotros siguenos en nuestro Instagram oficial!
        </p>
        <div class="wrap" id="btn-ig">
            <button class="button">Instagram</button>
          </div>
    </div>


<div class="container bg-custom-dark-color"id="container">
  <br>
  <h5>¡Nos importan las opiniones de algunos de nuestros clientes! Deja tu opinión aquí</h5>
  <p>Clica sobre la imagen para ver el vídeo </p>
	<div class="row">
		<div class="col-md-4">
    <div class="profile-card-2"><img src="./../../../../assets/images/miniatura1.png" class="img img-responsive">
        <div class="profile-name">Tano Villar</div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card-2"><img src="./../../../../assets/images/miniatura1.png" class="img img-responsive">
          <div class="profile-name">Tano Villar</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="profile-card-2"><img src="./../../../../assets/images/miniatura1.png" class="img img-responsive">
            <div class="profile-name">Tano Villar</div>
            </div>
        </div>
  </div>
  <br><br><br>
</div>




<div class="row  bg-custom-dark-color text-light">
  <div class="col-5" id="imgcoc">
    <br><br>
    <h3>Nuestra Cultura</h3>
    <p>
        Apu decidió hacer su comida india nacional para honrar a sus raíces culinarias de la India y compartir la auténtica experiencia gastronómica con sus clientes.<br><br>
        Al hacerlo, buscan preservar la rica tradición culinaria del país y transmitir su cultura a través de platos cuidadosamente elaborados, llenos de sabores exóticos y especias arómaticas que capturan la esencia misma de la cocina de la India.
    </p>
  </div>
  <div class="col-5" id="textcoc">
    <br><br>
        <img
        src="./../../../../assets/images/personas2.jpg"
        class="img-fluid bg-black bg-gradient bg-opacity-25"
        alt="sample" id="cocineros">
        <br><br><br>
  </div>
</div>