
<div class="row bg-custom-dark-color text-light">
    <div class="col-5" id="imgcoc">
        <img
        src="./../../../../assets/images/Personas1.jpg"
        class="img-fluid bg-black bg-gradient bg-opacity-25"
        alt="sample" id="cocineros">
    </div>
    <div class="col-5" id="textcoc">
        <h3>Nuestra Historia</h3>
        <p>
            En el corazón de la ciudad, Apu es un restaurante indio emblemático fundado en los años 80 por la familia Singh. 
            Ofrece auténticos sabores y platos tradicionales como el pollo tikka masala y el biryani,
             atrayendo a amantes de la cocina india con su ambiente acogedor y hospitalidad excepcional.<br><br>
            ¡Para conocer más sobre nosotros siguenos en nuestro Instagram oficial!
        </p>
        <div class="wrap" id="btn-ig">
            <button class="button">Instagram</button>
          </div>
    </div>
</div>
<div class="row" id="tarjetasreseña">
    <div class="col-4">
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Reseñas de Nuestros Clientes</h5>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="./../../../../assets/images/miniatura1.png" class="card-img-top" alt="Miniatura video Tano Villar">
            <div class="card-body">
              <p class="card-text">Tano villar prueba nuestra comida y se queda más que satisfecho!</p>
            </div>
          </div>
    </div>
    <div class="col-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <img src="./../../../../assets/images/miniatura2.png" class="card-img-top" alt="">
        </div>
        
       
      </div>
    </div>
</div>