
<div class="row bg-custom-dark-color text-light">
    <div class="col-10 ps-4 ps-md-0 col-md-5" id="imgcoc">
      <br><br><br>
        <img
        src="./../../../../assets/images/Personas1.jpg"
        class="img-fluid bg-black bg-gradient bg-opacity-25"
        alt="sample" id="cocineros">
    </div>
    <div class="col-12 text-center px-5 mt-4 mt-md-5 pt-md-3 col-md-4 text-md-start px-md-0" id="textcoc">
        <h3>Nuestra Historia</h3>
        <p>
            En el corazón de la ciudad, Apu es un restaurante indio emblemático fundado en los años 80 por la familia Singh. 
            Ofrece auténticos sabores y platos tradicionales como el pollo tikka masala y el biryani,
             atrayendo a amantes de la cocina india con su ambiente acogedor y hospitalidad excepcional.<br><br>
            ¡Para conocer más sobre nosotros siguenos en nuestro Instagram oficial!
        </p>
        <!-- Gallery -->
        <div class="justify-content-center mt-4 flex-md-row flex-md-nowrap justify-content-md-start">
          <div class="d-flex row-3 px-2 row-lg-4 row-md-12 mb-md-4 mb-lg-0 px-md-0 gap-3">
            <img
              src="./../../../../assets/images/galeria4.jpg"
              class="w-50 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
        
            <img
              src="./../../../../assets/images/butterChickenCarta.jpg"
              class="w-50 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
            <img
            src="./../../../../assets/images/kheerCarta.jpg"
            class="w-50 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
          />
          </div>
        
          <div class="d-flex row-3 px-2 row-lg-4 row-md-12 mb-lg-0 px-md-0 gap-3">
            <img
              src="./../../../../assets/images/baltiLangostinosCarta.jpg"
              class="w-50 shadow-1-strong rounded"
              alt="Mountains in the Clouds"
            />
            <img
              src="./../../../../assets/images/galeria3.jpg"
              class="w-50 shadow-1-strong rounded"
              alt="Boat on Calm Water"
            />
            <img
            src="./../../../../assets/images/galeria2.jpg"
            class="w-50 shadow-1-strong rounded"
            alt="Yosemite National Park"
          />
          </div>
        </div>
<!-- Gallery -->
    </div>


<div class="row bg-custom-dark-color text-light mt-md-5">
  <div class="col-12 text-center pe-5 me-5 col-md-4 text-md-start ps-md-0 pe-md-0" id="imgcoc">
    <br><br>
    <h3>Nuestra Cultura</h3>
    <p>
        Apu decidió hacer su comida india nacional para honrar a sus raíces culinarias de la India y compartir la auténtica experiencia gastronómica con sus clientes.<br><br>
        Al hacerlo, buscan preservar la rica tradición culinaria del país y transmitir su cultura a través de platos cuidadosamente elaborados, llenos de sabores exóticos y especias arómaticas que capturan la esencia misma de la cocina de la India.
    </p>
  </div>
  <div class="col-10 ms-5 ps-4 col-md-5 ms-md-4 ps-md-0"  id="imgcoc">
    <br><br>
        <img
        src="./../../../../assets/images/personas2.jpg"
        class="img-fluid bg-black bg-gradient bg-opacity-25"
        alt="sample" id="cocineros">
        <br><br><br>
  </div>
</div>

<div class="container"id="container">
  <br>
  <h5>¡Nos importan las opiniones de algunos de nuestros clientes!</h5>
  <p>Clica sobre el nombre para ver el vídeo </p>
	<div class="row gap-4 gap-md-0 ">
		<div class="col-md-4">
    <div class="profile-card-2"><img src="./../../../../assets/images/miniatura2.png" class="img img-responsive">
        <div class="profile-name"><a href="https://www.youtube.com/watch?v=cGZtvr8oNgI">Sezar Blue</a></div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card-2" href=""><img src="./../../../../assets/images/miniatura1.png" class="img img-responsive">
          <div class="profile-name"><a href="https://www.youtube.com/watch?v=60SzNHSqM8A">Tano Villar</a></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="profile-card-2" href=""><img src="./../../../../assets/images/miniatura3.png" class="img img-responsive">
            <div class="profile-name"><a href="https://www.youtube.com/watch?v=Zk2ZHGOPcfE">Edu Bravas</a></div>
            </div>
        </div>
  </div>
  <br><br><br>
</div>

<div id="opiniones">

  <form action="/action_page.php">
    <label for="fname" class="custom-dark-color">Tu opinión aquí</label>
    <input type="text" id="opinion" name="opinion" placeholder="Tu opinión..">
  </form>
  <input type="submit" value="Enviar" class="bg-custom-dark-color">
</div>