
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<div class="login__field">
                    <!---Aquí falta un logo-->
					<input type="text" class="login__input" placeholder="Inserta aquí tu Email">
				</div>
				<div class="login__field">
					<!---Aquí falta un logo-->
					<input type="password" class="login__input" placeholder="Contraseña">
				</div>
				<button class="button login__submit">
					<span class="button__text">Iniciar Sesión</span>
					<!---Aquí falta un logo-->
				</button>				
			</form>
			<div class="social-login">
				<h6>¿No tienes cuenta todavía? <br><br>
                    Registrate Aquí.</h6>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>