
<div class="d-flex justify-content-center bg-custom-dark-color" id="fondo">
	<br><br>
    <div class="screen">
        <div class="screen__content">
            <form class="login">
                <div class="fields">
                    <div class="login__field">
                       <input type="text" class="login__input" placeholder= "Inserta aquí tu Email">
                    </div>
                    <div class="login__field">
                        <input type="password" class="login__input" placeholder="Contraseña">
                    </div>
                </div>
                <button class="button login__submit">
                    <span class="button__text">Iniciar Sesión</span>
                </button>                
            </form>
            <div class="social-login">
                <h6><a href="registro" class="text-decoration-none text-dark">¿No tienes cuenta todavía? <br>
                    Registrate Aquí.</a></h6>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>        
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>      
    </div>
    <br><br>
</div><!-- Cierre del div con clase container bg-custom-dark-color -->