<div class="bg-custom-dark-color" id="fondo">
  <br>
  <br>
    <div id="carouselExampleCaptions" class="carousel slide">
     <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div>
     <div class="carousel-inner">
       <div class="carousel-item active">
            <img src="./../../../../assets/images/restaurante.jpg" class="d-block w-100" alt="Restaurante">
            <div class="carousel-caption d-none d-md-block">
          <h5>Nuestro Establecimiento</h5>
          <p>Ambientado en la India</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/delivery.jpg" class="d-block w-100" alt="Plato Estrella">
        <div class="carousel-caption d-none d-md-block">
          <h5>¡Te traemos la comida a casa!</h5>
          <p>No hace falta que te movilices para probar los sabores exóticos de la India</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/butterchicken(parainicio).jpg" class="d-block w-100" alt="Delivery">
        <div class="carousel-caption d-none d-md-block">
          <h5>Nuestro plato estrella</h5>
          <p>Valorado por expertos como un diez de diez</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  
</div>

<section class="hero-section" id="fondo2">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(./../../../../assets/images/fondo1.jpg)"></div>
      <div class="card__content">
        <p class="card__category">11 de Octubre</p>
        <h3 class="card__heading">¡Celebramos nuestro segundo cumpleaños!</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(./../../../../assets/images/fondo2.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Butter Apu Chicken</p>
        <h3 class="card__heading">¡Prueba nuestro reconocido plato!</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(./../../../../assets/images/fondo3.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Orgullo indio</p>
        <h3 class="card__heading">Rahidd recibe premio al mejor cocinero de Valencia</h3>
      </div>
    </a>
    <a class="card" href="#">
        <div class="card__background" style="background-image: url(./../../../../assets/images/fondo4.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Cerramos el 1 de mayo</p>
          <h3 class="card__heading">Por el  dia del trabajador</h3>
        </div>
    </a>
  <div>
