.bg-image {
    background-image: url('./../../../../assets/images/backgroundHeader.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(1px);
    -webkit-filter: blur(2px);
  }
  