<footer class="footer p-2">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 cinzel-text">
          <h3>Restaurante Apu</h3>
        </div>
        <div class="col-md-6 justify-content-end "  id="icons-footer">
          <a href="facebook.com" class="btn btn-link"><i class=" fa-brands fa-facebook  pointer"></i></a>
          <a href="https://www.instagram.com/apufoods/?hl=es" class="btn btn-link"><i class="fa-brands fa-instagram "></i></a>
          <a href=" http://wa.me/+34610794078" class="btn btn-link"> <i class="fa-brands fa-whatsapp "></i></a>
          <a href="https://www.google.com/maps/place/Av.+de+les+Corts+Valencianes,+69,+Benicalap,+46015+Val%C3%A8ncia/data=!4m2!3m1!1s0xd60458fbce6f143:0x9ca5171d6c95ca65?utm_source=mstt_1&entry=gps&lucs=47068615,,47075915&g_ep=CAESCjExLjEwOS4xMDEYACDXggMqEjQ3MDY4NjE1LCw0NzA3NTkxNUICRVM%3D" class="btn btn-link"> <i class="fa-solid fa-map "></i></a>
        
        </div>
      </div>
      <hr>
      <div class="row p-4">
        <div class="col-md-3">
           <div class="row cinzel-text"><h2>Compañía</h2></div>
          <div class="row"> <a href="inicio">Inicio</a></div>
          <div class="row"> <a href="aboutus">Sobre nosotros</a></div>
          <div class="row"><a href="contacto">Contáctanos</a></div>
          <div class="row"><a href="contacto">Horarios</a></div>
        </div>
        <div class="col-md-3">
          <div class="row cinzel-text"><h2>Cuenta</h2></div>
          <div class="row"><a href="iniciodesesion">Perfil</a></div>
          <div class="row"><a href="registro">Registrate</a></div>
          <div class="row"> <a href="iniciodesesion">Iniciar sesión</a></div>
          <div class="row">  <a href="contacto">Soporte</a></div>
        </div>
        <div class="col-md-3">
          <div class="row cinzel-text"><h2>Servicios</h2></div>
          <div class="row"><a href="carta">Carta</a></div>
          <div class="row"><a href="reservas">Reservas</a></div>
          <div class="row"><a href="delivery">Pick up</a></div>
          <div class="row"><a href="delivery">Delivery</a></div>
          
          
          
          
          

        </div>
        <div class="col-md-3">
          <div class="row cinzel-text"><h2 >Ubicación</h2></div>
          <div class="row"><a href="https://www.google.com/maps/place/Av.+de+les+Corts+Valencianes,+69,+Benicalap,+46015+Val%C3%A8ncia/data=!4m2!3m1!1s0xd60458fbce6f143:0x9ca5171d6c95ca65?utm_source=mstt_1&entry=gps&lucs=47068615,,47075915&g_ep=CAESCjExLjEwOS4xMDEYACDXggMqEjQ3MDY4NjE1LCw0NzA3NTkxNUICRVM%3D" class="ubicacion">Avenida Cortes <br> Valencianas 69, <br>
          46015, Valencia <br>
            info&#64;restauranteapu.com</a></div>

        </div>

      </div>

       <div class="row">
      <p id="derechos">&copy; 2024 Restaurante Apu. Aviso legal.</p>
    </div>
    </div>
   
  
  </footer>