<nav class="navbar navbar-expand-lg bg-custom-orange-color montserrat-text">
    <div class="container-fluid justify-content-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link active border-end border-black page-scroll" (click)="cambiarSeccion('Entrantes')" fragment="Entrantes">Entrantes</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active border-end border-black" (click)="cambiarSeccion('Principales')" fragment="Principales">Principales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-end border-black" (click)="cambiarSeccion('Postres')" fragment="Postres">Postres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-end border-black" (click)="cambiarSeccion('Cafes')" fragment="Cafes">Café/té</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-end border-black" (click)="cambiarSeccion('Cocteles')" fragment="Cocteles">Cocteles</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
